body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#header {
  background: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

#navbar {
  background: #fd8e20;
  overflow: hidden;
  text-align: center;
  border-width: #0f0909 1px;
  height: 30px;
  line-height: 30px;
}

#navbar a {
  float: center;
  color: #4e2d0b;
  padding: 14px 20px;
  text-decoration: none;
}

#navbar a:hover {
  background: #ffb770;
}


#sidebar {
  float: left;
  width: 25%;
  background: #eee;
  padding: 15px;
  box-sizing: border-box;
}

#content {
  float: right;
  width: 70%;
  background: #f9f9f9;
  padding: 15px;
  box-sizing: border-box;
}

#footer {
  clear: both;
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
